<!DOCTYPE html>
<html>
  <head>
    <title>Fantastic capitals of the world!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Fantastic Four - capitals list bootstrap</h1>
      <br>
      <div class="list-group">
        {% for entry in entries %}
          <a href="#" class="list-group-item" l>
            <div class="row">
              <div class = "col-sm-offset-2 col-sm-4"> {{ entry.country }} </div>
              <div class = "col-sm-offset-2 col-sm-4"> {{entry.name}} </div>
            </div>
          </a>
        {% endfor %}
      </ul>
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html
